<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sowmyaram.tablelayoutsample">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
   <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>



    <application

        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="KAAPIWALA"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash1"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Splashscreen"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Adminlogin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
           />
        <activity
            android:name=".Blackcofee"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Blacktea"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".BrewCoffe"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Brewtea"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".BrewCups"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Coffee"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Cupdelay"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Datepage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".DownloadAdmin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".DownloadUser"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Hotwater"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Mastercount2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".MasterCountsetting"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Milk"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Strongcofee"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".StrongTea"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Tea"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Temperature"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Totalcount2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Totalcountsetting"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".UserConnecting"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Operatorlogin"
            android:screenOrientation="portrait"

          />
        <activity
            android:name=".Operatorsettings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Logins"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Adminlogin1"
            android:screenOrientation="portrait"

           />
        <activity
            android:name=".Settingsadmin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".CreateOperator"
            android:screenOrientation="portrait"
           />
        <activity
            android:name=".Userloginpage"
            android:screenOrientation="portrait"
          />
        <activity
            android:name=".CreateUser"
            android:screenOrientation="portrait"
           />
        <activity
            android:name=".Users"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".Eraseall"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".Reversemilk"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>




    </application>

</manifest>